fastapi
uvicorn
python-multipart
yt-dlp
ffmpeg-python
openai-whisper
opencv-python-headless
ultralytics
Pillow
requests
deep-translator
python-dotenv
clipsai
whisperx @ git+https://github.com/m-bain/whisperx.git
scipy
