--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
fastapi
uvicorn
python-multipart
yt-dlp
ffmpeg-python
openai-whisper
opencv-python-headless
mediapipe
Pillow
requests
deep-translator
python-dotenv
pyannote.audio==3.1.1
sentence-transformers
scipy
numpy
